@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  box-sizing: border-box;
  font-family: "Orbitron";
}
.Boody {
  background-image: url(img/FondSite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position: fixed;
  display: flex;
 
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.699);
  
}
.NavHead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
}
#LogoSite {
  width: 100px;
}
#BtnNavHead {
  width: 120px;
  font-size: 20px;
  border: 2px solid rgba(46, 40, 40, 0.87);
  background-color: black;
  transition: 0.1s linear;
  border-radius: 1000px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}
#BtnNavHead:hover {
  background-color: transparent;
  transform: scale(1.1);
}
#InfoBtn {
  left: 50px;
  bottom: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}
#InfoBtn p {
  font-size: 10px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TitreSlogan h1 {
  font-size: 35px;
  text-align: center;
  color: #7fce9f;
}
.TitreSlogan h4 {
  font-size: 22px;
  text-align: center;
  color: #f0bb53;
}

#ContentMenu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s linear;
 
}
a {
  text-decoration: none;
  color: #7fce9f;
  font-size: 25px;
  letter-spacing: 2px;
  transition: 0.1s linear;
  font-weight: 800;
}
a:hover {
  color: #f0bb53;
}
li {
  padding: 10px 0;
  list-style: none;
}
.m {
  width: 1px;
  height: 20px;
  background-color: white;
}
.Avant {
  transform: rotate(45deg) translateX(0.5px);
}
.Aprait {
  transform: rotate(-45deg);
}
#Close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  background-color: #7fce9f;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  transition: 0.1s linear;
}
#Close:hover {
  background-color: #f0bb53;
}

/* PAGE DACCEUIL */

.Body{
  display: grid;
  
  grid-template-rows: 12.6%  100% ;
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
}
.MainOther{
  grid-row: 2 / 2;
  height: 795px;
}
.MainOther h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 100%;
  height: 50px;
}

.NavBarGalerie ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.svgGalerie{
  width: 24px;
  

}
.btnGalerie {
  width: 50px;
  height: 50px;
  font-size: 10px;
  border: 2px solid rgba(46, 40, 40, 0.87);
  background-color:#7fce9f;
  transition: 0.1s linear;
  border-radius: 1000px;
  cursor: pointer;
}
.btnGalerie:hover{
  background-color:#f0bb53;
  transform: scale(1.1);
}
.ContentGalerie{
  display: grid;
  width: 100%;
  height: 675.5px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 225.16px 225.16px 225.16px ;
}
.imgG{
  width: 100%;
  height:100%;
}









@media (min-width: 450px) {
  
  .Boody {
    background-image: url(img/fondsite2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #LogoSite {
    width: 130px;
  }
  
  #BtnNavHead {
    width: 150px;
  }
  
  .TitreSlogan h1 {
    font-size: 60px;
    text-align: center;
    color: #7fce9f;
  }
  
  .TitreSlogan h4 {
    font-size: 32px;
    text-align: center;
    color: #f0bb53;
  }
 
  #InfoBtn p {
    font-size: 14px;
  }
  .MainOther{
    display: flex;
    flex-direction: column;
    
    align-items:center;
    grid-row: 2 / 2;
    height:805.5px;
  }
  .MainOther h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 100%;
    height: 100px;
  }
  .ContentGalerie{
    display: grid;
    
    width: 80%;
    height: 600.5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 332.16px 332.16px  ;
    
  }
  .imgG{
    
    
    grid-row: 1/2/2;
    grid-column: 3/3/3;
    width: 100%;
    height:100%;
  }
  .NavBarGalerie  {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
 
}